@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --max-page-width: 1920px;
    --page-width: 1440px;
    --container-width: 1140px;

    --main-text-size: 16px;

    --content-block-bgcolor: #F4F8F7;
    --accent-color: #87ceeb;
    --white-color: #ffffff;
    --subtitle-color: rgba(0, 0, 0, 0.5);
}

* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    min-width: 320px;
    font-family: 'Montserrat', 'sans-serif';
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

main {
    flex: 1 1 auto;
}

.container {
    max-width: var(--container-width);
    padding: 0 20px;
    margin: 0 auto;
}

section, .footer {
    margin-top: 80px;
}

h2 {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 30px;
}

.sub-title {
    color: var(--subtitle-color);
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}

.btn {
    color: var(--white-color);
    display: inline-block;
    max-width: 350px;
    min-width: 50px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    background-color: var(--accent-color);
    padding: 15px;
    cursor: pointer;
    transition: .2s;
}

.btn:hover {
    transform: scale(1.05);
}

.more-btn {
    display: block;
    margin-top: 15px;
}


/* MAIN */

/* COMPANY */
.company h2, .company span {
    display: block;
    text-align: center;
}

.company-content__wrapper {
    display: flex;
    gap: 5em;
}


/* ROUTES */
.routes {
    max-width: var(--max-page-width);
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.routes h2 {
    max-width: 326px;
    margin-bottom: 100px;
}

/* SWIPER */
.swiper {
    max-width: var(--page-width);
    height: 110%;
    overflow: visible !important;
}

.swiper-slide {
    transition: .3s;
}

.swiper-slide img {
    max-width: 100%;
    width: 100%;
}

.swiper-slide-active {
    transform: translateY(-10%) !important;
}

.swiper-slide {
    opacity: .5;
}

.swiper-slide img {
    border-radius: 12px;
}

.swiper-slide-active {
    opacity: 1;
}

.swiper-button-prev, .swiper-button-next {

}


/* ABOUT */
.about {
    display: block;
    text-align: center;
}


/* NEWS */
.news .container {
    max-width: 850px;
}

.news-content__wrapper {
    max-height: 415px;
    height: 100%;
    display: flex;
    gap: 50px;
}

.news-image__wrapper {
    max-width: 415px;
    width: 100%;
}

.news-image__wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news-content {
    max-width: 385px;
}

.news-content a {
    color: var(--subtitle-color);
}


/* REVIEW */
.review-content__wrapper {
    text-align: center;
}

.review-content__wrapper .stars {
    margin-top: 15px;
}


/* FEEDBACK */
.feedback-content__wrapper {
    display: flex;
    justify-content: space-between;
}

.feedback-form__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.feedback-form__wrapper input[type="text"], .feedback-form__wrapper textarea {
    width: 100%;
    font-size: var(--main-text-size);
    box-sizing: border-box;
    padding: 12px 15px;
}

.feedback-form__wrapper textarea {
    resize: none;
}

.map {
    max-width: 616px;
    width: 100%;
    background-color: #D9D9D9;
}



/* OTHER PAGES */
.main-wrapper {
    width: 100%;
    position: absolute;
    top: 100px;
}

.routes-page .container, .reviews-page .container, .news-page .container {
    min-height: 80vh;
    width: 100%;
    background-color: var(--content-block-bgcolor);
    padding: 50px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
}

/* ROUTES */
.routes-grid-layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    list-style: none;
}

.routes-item {
    aspect-ratio: 1;
    border-radius: 15px;
    overflow: hidden;
    background-color: #D9D9D9;
    position: relative;
    cursor: pointer;
}

.routes-item img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
}

.text-block__routes {
    color: #ffffff;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .01);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 1rem 1rem 1.2rem;
    transition: height .3s;
    position: absolute;
    bottom: -1px;
    left: 0;
}

.routes-item:hover .text-block__routes {
    height: 91%;
}
.routes-item:hover .text-block__routes p {
    -webkit-line-clamp: 10;
    line-clamp: 10;
}

.text-block__routes h4 {
    font-size: 18px;
    margin-bottom: 0.2rem;
}

.text-block__routes p {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}


/* REVIEWS */
.reviews-grid-layout {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    list-style: none;
}

.reviews-item {
    aspect-ratio: .9;
    border-radius: 1rem;

    background-color: #ffffff;
    margin-top: 2rem;
    position: relative;
}

.avatar-wrapper {
    max-width: 50px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    background-color: #fff;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.avatar-wrapper img {
    max-width: 100%;
    object-fit: cover;
}

.text-block__reviews {
    text-align: center;
    padding: 2.5rem 1rem 1rem;
}

.text-block__reviews p {
    max-height: 12rem;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}

.text-block__reviews .stars {
    margin-top: .5rem;
}

.text-block__reviews span {
    font-weight: 600;
}

/* NEWS */
.news-grid-layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    list-style: none;
}

.news-item {
    height: 100%;
    aspect-ratio: .75;
    background-color: #ffffff;
}

.image-wrapper__news {
    height: 47%;
}

.news-item img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.new-content-block {
    padding: 1rem;
}

.new-content-block h4 {
    font-size: 1.2rem;
    margin-bottom: .5rem;
}

.new-content-block p {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}
