/* NAVIGATION */
.nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.nav-items__wrapper {
    display: flex;
    justify-content: space-between;
}

.nav-items__wrapper a {
    color: var(--white-color);
    text-decoration: none;
}

.nav-items-admin__wrapper a {
    color: black;
}

.nav-items__wrapper>a {
    padding-top: 26px;
}

.nav-items {
    max-width: 600px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 17.5%, rgba(255, 255, 255, 0) 67.78%) ;
    padding-top: 26px;
    padding-bottom: 67px;
}